* {
  margin: 0;
  padding: 0;
}
header {
  height: 200px;
  background-color: green;
}
.StatsInfo {
  height: 200px;
  background-color: yellow;
}
.FourStepsInfo {
  height: 200px;
  background-color: green;
}
.AboutUs {
  height: 200px;
  background-color: yellow;
}
.ChantriesList {
  height: 200px;
  background-color: green;
}

.Contact {
  height: 200px;
  background-color: yellow;
}