* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: rgb(65, 60, 60);
}
header {
  width: 100%;
  background-color: white;
  display: flex;
  .active {
    border: 1px solid rgb(65, 60, 60);
  }
  .headerImages {
    width: 50%;
  }
  .logingBar {
    display: flex;
    justify-content: flex-end;
    padding: 5% 0;
    list-style: none;
    font-size: 0.8em;
    li {
      margin-left: 2%;
      padding: 1%;
      &:nth-child(2) {
        border: 1px solid rgb(65, 60, 60);
      }
    }
  }
  nav {
    display: block;
    width: 50%;
    padding-right: 20%;
    max-height: 20vh;
    position: relative;
    .navBar {
      display: flex;
      justify-content: space-between;
      list-style: none;
  
      li {
        padding-left: 2%;
      }
    }
  }
  .headerContent {
    position: absolute;
    bottom: 30%;
    right: 15%;
    font-size: 1.7em;
    text-align: center;
    img {
      padding: 3% 0 5% 0;
    }
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      li {
        flex-direction: row;
        border: 2px solid rgb(65, 60, 60);
        margin: 4%;
        padding: 2%;
      }
    }
  }
}

.StatsInfo {
  height: 463px;
  background: url(./images/Bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  .smallBox {
    color: rgb(65, 60, 60);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    :nth-child(1) {
      font-size: 4em;
    }
    :nth-child(3) {
      text-align: center;
      width: 70%;
    }
    
  }
}
.FourStepsInfo {
  background-color: white;
  .FourStepsInfoPanel {
    padding: 7%;
    text-align: center;
    font-size: 2em;
    img {
      margin: 2% 0;
    }
    .FourStepsTinyBoxes {
      background-color: rgb(214, 214, 214);
      font-size: 0.8em;
      margin: auto;
      padding: 4% 4%;
      width: 90%;
      display: flex;
      justify-content: space-around;
      text-align: center;
      & > div {
        max-width: 15%;
      }
      .bottomBorder {
        display: block;
        margin: auto;
        padding: 2%;
        text-align: center;
        border-bottom: 2px solid rgb(65, 60, 60);
        width: 80%;
      }
      p {
        font-size: 0.8em;
      }
    }
    button {
      border: 1px solid rgb(65, 60, 60);
      background-color: white;
      color: rgb(65, 60, 60);
      margin: 4% 0 0 0;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 1.2em;
    }
  }
  
}
.AboutUs {
  display: flex;
  flex-direction: row;
  background-color: rgb(214, 214, 214);

  :nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    p {
      width: 60%;
      line-height: 210%;
      position: relative;
      img {
        position: absolute;
        bottom: -180px;
        right: 0;
      }
    }

  }
  :nth-child(2) {
    width: 50%;
   
  }
}
.ChantriesList {
  height: 200px;
  background-color: green;
}

.Contact {
  height: 100vh;
  background: url('./images/form-bg.jpg');
  background-position: center;
  background-size: cover;
  .ContactContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    div {
      margin-right: 10%;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 5vh;
      position: relative;
      p {
        font-size: 2em;
        padding-bottom: 10%;
      }
      img {
        padding-bottom: 10%;
      }
      form {
        width: 140%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        legend {
          margin-bottom: 10%;
        }
        input {
          background: none;
          border: none;
          border-bottom: 1px solid rgb(65, 60, 60);
          margin-bottom: 10%;
        }
        .sendButton {
          width: 30%;
          margin: auto;
          border: 1px solid rgb(65, 60, 60);
        }
      }
      ul  {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    footer {
      width: 100%;
      height: 5vh;
      display: flex;
      flex-direction: row;
      justify-content: center;

    }
  }
}